<%- include("partials/header.ejs") %>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6"> 
                <img src="imgs/cover.png" class="d-block mx-lg-auto img-fluid rounded" alt="Cover" width="700" height="300" loading="lazy"> 
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Share & Explore Book Notes</h1>
                <p class="lead">Join a community to share your book notes, discover insights from others, and build your
                    reading journey together.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
                    <a href="/signup" class="btn btn-primary btn-lg px-4 me-md-2">Join Now</a>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-10 col-md-8 offset-md-2">
    <div class="card h-100">
        <img src="https://via.placeholder.com/150x200" class="card-img-top" alt="Book Cover">
        <div class="card-body">
            <h5 class="card-title">Book Title 1</h5>
            <p class="card-text">A brief note about this book. It’s an exciting adventure with memorable characters.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div> -->

    <%- include("partials/footer.ejs") %>